.infoCard {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.myCard {
    height: 35vh;
    margin-top: 75px;
    display: flex;
    align-items: center;
    width: 380px;
}

.userLogo {
    width: 100px;
    height: 100px;
}
.selectUser {
    text-align: center;
}